<h4><%= @meal.name %> Meal </h4>
<br>
<p><%= @meal.calories %> Calories </p>
<p><%= @meal.carbohydrates %>(g) Carbohydrates </p>
<p><%= @meal.protein %>(g) Protein </p>
<p><%= @meal.fat %>(g) Fat </p>
<br>

<a href="/meals/<%= @meal.id %>/edit">Edit Meal</a>